@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: Inter, Roboto, sans-serif;
}

.settingsButton {
  float: right;
  margin-top: 4px;
}

.exportButton {
  float: left;
  margin-top: 4px;
}

.files {
  margin: 0 14px;
}

.noLayersSelected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: -15px;

  font-size: 16px;
  color: #969696;
  text-align: center;
}

.buttonWrap {
  margin: 10px 0;
}

.loader {
  text-align: center;
  font-size: 32px;
  font-family: monospace;
  line-height: 50px;
  padding-top: 60px;
}
