@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: Inter, Roboto, sans-serif;
}

.headerButton {
  float: right;
  margin-top: 3px;
}

.files {
  margin: 0 14px;
}

.noLayersSelected {
  font-size: 20px;
  color: #969696;
  display: flex;
  flex-grow: 1;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.buttonWrap {
  margin: 10px 0;
}
